[Unit]
Description=SSH tunnel for SSH-port to VPS
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=10
ExecStart=/usr/bin/ssh -o ServerAliveInterval=180 -o ServerAliveCountMax=2 -nNT -R 2222:localhost:22 root@217.160.214.90

[Install]
WantedBy=default.target
