[Unit]
Description=Start tmux in detached session

[Service]
Type=forking
ExecStart=/usr/bin/tmux new-session -s scratchpad -d
ExecStop=/usr/bin/tmux kill-session -t scratchpad
Restart=always

[Install]
WantedBy=default.target
