[Unit]
Description=Start tmux in detached session

[Service]
Type=forking
ExecStart=/usr/bin/tmux new-session -s 1 -d 2> /dev/null
ExecStop=/usr/bin/tmux kill-session -t 1
Restart=always

[Install]
WantedBy=default.target
